<header>
    <h1>{{title}}</h1>
    <a href='/'>Weather</a> <!-- This takes us to the homepage / index file -->
    <a href='/about'>About</a> 
    <a href='/help'>Help</a>   
</header>

<!-- Value of title is taken from object passed into the web page in src/app.js -->
